@import '../node_modules/mini.css/dist/mini-default.min.css';

html,
body,
#root,
.container,
.center-page {
  height: 100%;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  min-width: 300px;
}
