/* the props */
@import 'https://unpkg.com/open-props';

/* optional imports that use the props */
@import 'https://unpkg.com/open-props/normalize.min.css';
/* @import 'https://unpkg.com/open-props/buttons.min.css'; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
}

body {
  font-family: var(--font-sans);
  margin: 0;
}

h2 {
  font-size: var(--font-size-fluid-3);
  line-height: var(--font-lineheight-1);
}
